{
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"mocha": true
	},
	"extends": "airbnb",
	"rules": {
		"no-console": 0,
		"comma-dangle": 0,
		"no-restricted-globals": 0,
		"import/extensions": 0,
		"consistent-return": 0,
		"no-alert": 0,
		"no-undef": 0,
		"no-plusplus": [2, { allowForLoopAfterthoughts: true }],
		"no-unused-vars": 0
	},
	"parserOptions": {
		"ecmaVersion": 6
	}
}